.App {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas: "sidebar content";

  background-color: #282c34;
  color: white;
  min-height: 100vh;
}

main {
  grid-area: content;
  height: 100vh;
  overflow-y: auto;
}

aside {
  grid-area: sidebar;
  background-color: #4b525c;
  padding: 10px;
  height: 100vh;
  overflow-y: auto;
}

.thumbnail {
  display: inline-block;
  width: 256px;
  height: 256px;
  margin: 10px;
}
